
<li class="pull-right" id="menuBtn">
    <span></span><span></span><span></span>
</li>
<li><a href="/Home/About">О компании</a></li>
@*<li><a href="">Награды за качество</a></li>
    <li><a href="">Оплата и доставка</a></li>
    <li><a href="">Скидки и акции</a></li>
    <li><a href="">Корпоративным клиентам</a></li>
    <li><a href="">Новости</a></li>
    <li><a href="">Отзывы</a></li>*@
<li><a href="/Home/Contact">Контакты</a></li>
@*                <li><a href="">Статьи</a></li>*@
