<section class="container-fluid body white">
    <div class="row">
        @{
            for (int i = 0; i < 6; i++)
            {
                @Html.Partial("DisplayTemplates/ViewProduct")
            }
        }
    </div>
</section>