@model Irbis.Models.Cart.IndexViewModel

<section class="container-fluid cartOrder body bg-white pb10 mb20" ng-controller="cartCtr">

    <h2 class="text-center">Оформление заказа</h2>

    <div class="row" ng-if="model.CartItems.length>0">

        <div class="col-sm-6">
            <div>
                <div id="cart_list" class="table-responsive">

                    <table class="table table-bordered" id="purchases">
                        <thead>
                            <tr>
                                <th colspan="5" class="cart_count">В корзине @Model.CartItems.Count товар</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="item in model.CartItems">

                                <td class="image hide320">
                                    <a href=""><img src="http://pirogi-diana.ru/files/products/ww1aq4yd2h8.50x50.jpg" alt=""></a>
                                </td>
                                <td class="name" width="10%">
                                    {{item.ProductName}}
                                    <span>{{item.Weight}} г.</span>
                                </td>
                                <td class="amount" width="5%">
                                    <div class="counter">
                                        <div class="input-group">
                                            <span class="input-group-btn"><button type="button" class="btn counter__decrease cart-control" ng-disabled="{{buttons.minus.disabled}}" ng-click="events.updateProduct(item,'minus')">–</button></span>
                                            <input class="form-control cart-control-el counter__value text-center" type="text" id="amounts_685" name="amounts[685]" onchange="$('#is_checkout').val('0').change();" value="{{item.Count}}" maxlength="2" size="2">
                                            <span class="input-group-btn"><button type="button" class="btn counter__increase cart-control" ng-click="events.updateProduct(item,'plus')">+</button></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="price" width="20%">
                                    {{item.TotalPrice}}<span class="currency"> руб.</span>
                                </td>
                                <td class="remove text-center" width="5%">
                                    <a class="remove" title="Удалить из корзины" ng-click="events.removeProduct(item)">×</a>
                                </td>
                            </tr>


                            <tr class="order_amount">
                                <td class="cart_label text-right" colspan="3">Сумма заказа:</td>
                                <td class="cart_sum"><b>{{model.TotalPrice}}<span class="currency">&nbsp;руб.</span></b></td>
                            </tr>

                            <tr class="delivery">

                                <td class="cart_label text-right text-success" colspan="3">Доставка:</td>
                                <td class="cart_sum text-success">
                                    <b>бесплатно</b>
                                </td>
                            </tr>

                            <tr class="total">

                                <td class="cart_label text-right text-danger" colspan="3">Итого к оплате:</td>
                                <td class="cart_sum text-danger">
                                    <b>{{model.TotalPrice}}<span class="currency">&nbsp;руб.</span></b>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <div class="col-sm-6 form-horizontal">

            @*<div class="form-group">
                <div class="col-xs-8 col-xs-offset-4 col-sm-offset-3">
                    <p>
                        <span class="h3" style="color: #FF1414;">Хотите ускорить офромление заказа?</span>
                        <br>Выберите свою соц. сеть и основные поля формы заполняться автоматически!
                    </p>
                    <!-- Ulogin -->
                    <script src="http://ulogin.ru/js/ulogin.js"></script>
                    <div id="uLogin" data-ulogin="display=panel;fields=first_name,last_name,email,phone,city;providers=vkontakte,facebook,odnoklassniki,mailru;hidden=other;redirect_uri=http://pirogi-diana.ru/user/login" data-ulogin-inited="1495728945737" style="position: relative;">
                        <div class="ulogin-buttons-container" style="margin: 0px; padding: 0px; outline: none; border: none; border-radius: 0px; cursor: default; float: none; position: relative; display: inline-block; width: 210px; height: 32px; left: 0px; top: 0px; box-sizing: content-box; max-width: 100%; vertical-align: top; line-height: 0;">
                            <div class="ulogin-button-vkontakte" data-uloginbutton="vkontakte" role="button" title="VK" style="margin: 0px 10px 10px 0px; padding: 0px; outline: none; border: none; border-radius: 0px; cursor: pointer; float: left; position: relative; display: inherit; width: 32px; height: 32px; left: 0px; top: 0px; box-sizing: content-box; background: url(&quot;https://ulogin.ru/version/2.0/img/providers-32-classic.png?version=img.2.0.0&quot;) 0px -36px/32px no-repeat;"></div>
                            <div class="ulogin-button-facebook" data-uloginbutton="facebook" role="button" title="Facebook" style="margin: 0px 10px 10px 0px; padding: 0px; outline: none; border: none; border-radius: 0px; cursor: pointer; float: left; position: relative; display: inherit; width: 32px; height: 32px; left: 0px; top: 0px; box-sizing: content-box; background: url(&quot;https://ulogin.ru/version/2.0/img/providers-32-classic.png?version=img.2.0.0&quot;) 0px -138px/32px no-repeat;"></div>
                            <div class="ulogin-button-odnoklassniki" data-uloginbutton="odnoklassniki" role="button" title="Odnoklassniki" style="margin: 0px 10px 10px 0px; padding: 0px; outline: none; border: none; border-radius: 0px; cursor: pointer; float: left; position: relative; display: inherit; width: 32px; height: 32px; left: 0px; top: 0px; box-sizing: content-box; background: url(&quot;https://ulogin.ru/version/2.0/img/providers-32-classic.png?version=img.2.0.0&quot;) 0px -70px/32px no-repeat;"></div>
                            <div class="ulogin-button-mailru" data-uloginbutton="mailru" role="button" title="Mail.ru" style="margin: 0px 10px 10px 0px; padding: 0px; outline: none; border: none; border-radius: 0px; cursor: pointer; float: left; position: relative; display: inherit; width: 32px; height: 32px; left: 0px; top: 0px; box-sizing: content-box; background: url(&quot;https://ulogin.ru/version/2.0/img/providers-32-classic.png?version=img.2.0.0&quot;) 0px -104px/32px no-repeat;"></div><img class="ulogin-dropdown-button" src="https://ulogin.ru/img/blank.gif" style="margin: 0px 10px 10px 0px; padding: 0px; outline: none; border: none; border-radius: 0px; cursor: pointer; float: none; position: relative; display: inline; width: 32px; height: 32px; left: 0px; top: 0px; box-sizing: content-box; background: url(&quot;https://ulogin.ru/version/2.0/img/providers-32-classic.png?version=img.2.0.0&quot;) 0px -2px/32px no-repeat; vertical-align: baseline;">
                        </div><img src="https://ulogin.ru/img/link.png" style="margin: 0px; padding: 0px; outline: none; border: none; border-radius: 0px; cursor: default; float: none; position: absolute; display: none; width: 8px; height: 4px; left: 0px; top: 0px; box-sizing: content-box; z-index: 9999;">
                    </div>
                    <!-- end -->
                </div>
            </div>*@

            <div class="form-group">
                <label for="field-name" class="control-label col-xs-4 col-sm-3"><span>Имя:</span></label>
                <div class="col-xs-8">
                  
                    <input class="form-control alloka-catch-form-input-name suggestions-input" name="field-name" type="text" ng-model="checkoutModel.user.name" placeholder="Ваше имя" style="box-sizing: border-box;">
                    <div class="suggestions-wrapper">
                        <span class="suggestions-addon" data-addon-type="spinner" style="left: 327px; top: -33px; height: 32px; width: 32px;"></span><ul class="suggestions-constraints" style="left: 13px; top: -17px;"></ul>
                        <div class="suggestions-suggestions" style="position: absolute; display: none; left: 0px; top: -1px; width: 360px;"></div>
                    </div>
                    <div class="error-message" ng-if="checkoutModel.user.name=='' && error.isShowLabelName">
                        <span style="color: red;">Укажите имя</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="field-phone" class="control-label col-xs-4 col-sm-3"><span>Телефон:</span></label>
                <div class="col-xs-8 ">
                   
                    <input type="text" size="18" class="form-control phone-input-mask alloka-catch-form-input-phone" id="field-phone" ng-model="checkoutModel.user.phone" ui-mask="8(999) 999-99-99" ui-mask-placeholder ui-mask-placeholder-char="_"  placeholder="Контактный телефон" />
                    <div class="error-message" ng-if="checkoutModel.user.phone == '' && error.isShowLabelPhone">
                        <span style="color: red;">Укажите телефон</span>
                    </div>
                </div>
                
            </div>

            @*<div class="form-group">
                <label for="field-email" class="control-label col-xs-4 col-sm-3"><span>Email:</span></label>
                <div class="col-xs-8">
                    <input class="form-control" id="field-email"  type="email" maxlength="128" ng-model="checkoutModel.user.email"  placeholder="Укажите свой e-mail (по желанию)">

                </div>
            </div>*@

            <div class="form-group">
                <label for="field-payment-method" class="control-label col-xs-4 col-sm-3"><span>Оплата:</span></label>
                <div class="col-xs-8">
                    <select class="form-control" name="payment_method_id" id="field-payment-method">
                        <option value="1" selected="selected">
                            Наличными курьеру
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="address-field" class="control-label col-xs-4 col-sm-3"><span>Адрес:</span></label>
                <div class="col-xs-8">
                    <input class="form-control suggestions-input" id="address-field" type="text" ng-model="checkoutModel.user.address"  placeholder="Укажите адрес доставки" style="box-sizing: border-box;">
                    <div class="suggestions-wrapper">
                        <span class="suggestions-addon" data-addon-type="spinner" style="left: 327px; top: -33px; height: 32px; width: 32px;"></span><ul class="suggestions-constraints" style="left: 13px; top: -17px;"></ul>
                        <div class="suggestions-suggestions" style="position: absolute; display: none; left: 0px; top: -1px; width: 360px;"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="order_comment" class="control-label col-xs-4 col-sm-3"><span>Комментарий:</span></label>
                <div class="col-xs-8">
                    <textarea class="form-control" id="order_comment" ng-model="checkoutModel.user.comment" placeholder="Можете указать любой комментарий"></textarea>
                </div>
            </div>

            <div class="form-group" style="margin-top: 25px;">
                <div class="col-xs-8 col-xs-offset-3">
                    <input type="button" name="checkout" id="button_checkout" class="btn btn-gold btn-lg" value="Оформить заказ" ng-click="events.checkout()">
                </div>
            </div>

        </div>
    </div>

    <div class="row" ng-if="model.CartItems.length<1">
        <div class="col-sm-6">
            В корзине нет товаров
        </div>
    </div>


</section>
