@{
    ViewBag.Title = "О компании";
}

<section class="    container-fluid body dark pb10">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">

            <h2 class="text-center">О компании</h2>

            <p>Наша пекарня появилась еще в 2006 году, за это время мы успели пережить взлеты и падения. Сейчас мы обосновались в Новокосино и готовы снова радовать наших клиентов по-домашнему вкусными осетинскими пирогами!</p>

            <p>Углубляясь в историю, следует отметить, что осетинские пироги являются древним традиционным блюдом осетинского народа. Первое упоминание об осетинских пирогах встречается в древних манускриптах Осетинского эпоса «Нартские сказания», который считается в наши дни достоянием мировой культуры и датируется первым тысячелетием до нашей эры.</p>
            <p>
                Доброй традицией у осетин считается подача на стол трех пирогов, символизирующих Святую Троицу – Отца, Сына и Духа Святого.
            </p>
        </div>
    </div>
</section>
