@{
    ViewBag.Title = "Контакты";
}

<section class="    container-fluid body dark pb10">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h2 class="text-center">Контакты и реквизиты</h2>
            <ul>
                <li><label>Название:</label> <label>ИРБИС</label></li>
                <li><label>Телефон:</label> <label>+7 (966) 144 34 24</label></li>
                <li><label>Наш адрес:</label> <label>г. Москва, м. Новокосино, ул. Новокосинская, д.22</label></li>
                <li><label>Время рабты:</label> <label>с 09:00 до 21:00 (без выходных)</label></li>
                <li><label>E-mail:</label> <label>irbis.kfk@gmail.com</label></li>
            </ul>

            <h4 class="text-center">Реквизиты</h4>

            <ul>
                <li><label>ИП</label> <label>Караева Ф.К.</label></li>
                <li><label>Фактический адрес: </label> <label>109145, г. Москва, ул. Саянская,д.13 к.3 кв.277</label></li>
                <li><label>ОГРНИП</label> <label>304770000414460</label></li>
                <li><label>ИНН </label> <label>772136656950</label></li>
                <li><label>р/с</label> <label>№40702810938120006254 в ОАО "Сбербанк России"</label></li>
                <li><label>к/с</label> <label>№30101810400000000225 БИК 04525225</label></li>
                <li><label></label> <label></label></li>
            </ul>
        </div>
    </div>
</section>