@{
    ViewBag.Title = "О компании";
}

<section class="    container-fluid body bg-dark pb10">
    <div class="row">

        <div style="padding: 15px;">
            <!-- Заголовок страницы -->
            <h1 data-page="3">Условия доставки и оплаты заказов</h1>
            <!-- Тело страницы -->
            <p>
                Доставка осуществляется по всей Москве, в том числе и за МКАД.<br>
                Точное время доставки вы можете уточнить у оператора по&nbsp;телефону:&nbsp;8&nbsp;
                <span>(495) 223-17-93</span><br><br>
            </p>
            <p class="h3">
                <strong>Режим работы службы доставки</strong>
            </p>
            <p>
                с 9:00 до 20:00 (без выходных)<br><br>
            </p>
            <p class="h3">Скорость доставки</p>
            <p>
                От 30 до 120 минут, в зависимости от удалённости.<br>За МКАД — от 120 минут, точное время доставки уточняйте по телефону:&nbsp;
                <span>+7 (966) 144-34-24, +7 (495) 223-17-93</span><br><br>
            </p>
            <p class="h3">Стоимость доставки</p>
            <p>
                При заказе на сумму от 1200 руб., доставка по Москве (в пределах МКАД) — бесплатно!<br>Доставка за МКАД — 300 руб.<br>&nbsp;
            </p>
            <p class="h3">Способы оплаты</p>
            <p>На текущий момент мы принимаем оплату только налично курьеру.</p>
        </div>
    </div>



</section>
