
@Html.Partial("Control/TopProduct")

<section class="container-fluid body bg-dark pb10">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">

            <h2 class="text-center">ДОСТАВКА ОСЕТИНСКИХ ПИРОГОВ</h2>

            <p>Горячие свежеиспеченные пироги у вас дома или в офисе — всего через 1-1,5 часа после оформления заказа. Вы можете выбрать на сайте осетинские пироги по представленным фото из нашего меню или оформить заказ с доставкой через операторов по телефону в Москве: 8 (495) 781-40-44.</p>
            <p>Осетинская культура предлагает ряд традиций, сопутствующих приготовлению еды, во многом отличных от обрядов других культур. Издавна осетинские пироги были одним из основных блюд на столе осетин.</p>
            <p>Традиционно подаются три осетинских пирога, что символизирует три природных стихии: солнце, воду и землю.</p>
            <p>Мы готовим пироги в соответствии со старинными традиционными рецептами, используя только лучшие, экологически чистые продукты.</p>
            <p>Благодаря тому, что среди традиционных осетинских пирогов есть пироги с самыми разнообразными начинками, каждый сможет выбрать и купить себе пирог по душе: от сытных высококалорийных пирогов с мясом, курицей и сыром, картофелем и сыром до легких низкокалорийных и постных пирогов с тыквой, фруктами и ягодами.</p>
            <p>Если вы еще не знаете, где можно недорого заказать осетинские пироги с доставкой на дом по Москве, попробуйте сделать это у нас, и вы будете приятно удивлены!</p>
            <p>Внутри МКАД доставка осуществляется бесплатно (минимальная сумма заказа — 700 руб. внутри кольцевой линии метро и 1000 руб. — в пределах МКАД). Информацию о доставке заказа за пределами МКАД уточняйте у оператора.</p>

        </div>
    </div>
</section>
