@model Irbis.Models.Category.IndexViewModel

<div align="center" style="color: aliceblue; padding: 10px;">
    <h3>@Model.Title</h3>
</div>

<section class="container-fluid body white">
    <div class="row">
        
        @{
            for (int i = 0; i < 10; i++)
            {
                @Html.Partial("DisplayTemplates/ViewProduct")
            }
        }

    </div>
</section>