@model Irbis.Models.Category.IndexViewModel

<div align="center" style="color: aliceblue; padding: 10px;">
    <h3>@Model.Title</h3>
</div>

<section class="container-fluid body bg-white">
    <div class="row">
        <div class="col-sm-9">

            <div class="row">

                @{
                    foreach (var product in Model.Products)
                    {
                        @Html.Partial("DisplayTemplates/ViewProduct", product)
                    }
                }

            </div>

        </div>

        <div class="col-sm-3">
            <aside ng-controller="cartCtr">
                <div id="cart-holder" style="position: static; top: auto; width: 251px; margin-top: 0px;">
                    <div id="cart_informer">
                        <div class="cart box">
                            <div class="cart__header">
                                <div class="cart__title">В корзине <span class="txt-danger"><span id="total_products">6</span> товаров</span></div>
                            </div>

                            <form method="post" name="cart" id="form_cart">

                                <ul class="cart__items list-unstyled" style="overflow: inherit; max-height: inherit;">
                                    <li class="cart__item">
                                        <a class="cart__control remove" title="Удалить из корзины" href="cart/remove/699" rel="699">×</a>

                                        <div class="cart__item-title">
                                            <span class="cart__item-name"><a href="products/pirog-s-rublennoj-baraninoj">Пирог с рубленной бараниной</a></span>
                                            <span class="cart__item-info">1200 г.</span>
                                        </div>

                                        <div class="cart__item-price">2 700<span class="currency"> руб.</span></div>

                                        <div class="counter">
                                            <div class="input-group">
                                                <span class="input-group-btn"><button type="button" class="btn counter__decrease cart-control" onclick="$('#amounts_699').val($('#amounts_699').val()<=1 ? 1 :parseInt($('#amounts_699').val())-1).change();">–</button></span>
                                                <input class="form-control cart-control-el counter__value" type="text" id="amounts_699" name="amounts[699]" onchange="$('#form_cart').submit();" value="3" maxlength="2" size="2">
                                                <span class="input-group-btn"><button type="button" class="btn counter__increase cart-control" onclick="$('#amounts_699').val($('#amounts_699').val()>=1000 ? 1000 :parseInt($('#amounts_699').val())+1).change();">+</button></span>
                                            </div>
                                        </div>
                                    </li>
                                  
                                </ul>
                                <div class="cart__total">
                                    <span class="cart__total-label">Итого к оплате:</span><span class="cart__total-value">4 800<span class="currency">&nbsp;руб.</span></span>
                                </div>
                            </form>

                            <div class="cart__submit" style="text-align: center;">
                                <a class="btn btn-gold" address="1" delivery="0" href="/cart">Оформить заказ</a>
                            </div>
                        </div>



                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>