
@Html.Partial("Control/TopProduct")

<section class="container-fluid body dark pb10">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h2 class="text-center">Корзина</h2>
        </div>
    </div>
</section>
