.cartOrder .svg.ruble {
    margin: 0;
}

.cartOrder .table a{
    color: #333;
}

.amount .input-group .btn,
.amount .input-group .form-control {
    height: 30px;
}

.cartOrder .table a:hover {
    border-color: #000;
}
@media all and (max-width: 450px) {
    .container-fluid.body.cartOrder {
        background-color: rgba(255, 255, 255, 0.9) !important;
    }
    .input-group .form-control {
        width: 20px;
    }
}
